

.circle {
    background: lightblue;
    border-radius: 50%;

    position: absolute;

  }
  body {
  
    transition: all .5s;
    overflow: hidden;
    zoom: all .5s;
 }

 .player2 {
  background-color: red;
    border-radius: 50%;

    position: absolute;
 }
